# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues


azure-functions

pymongo
azure-storage-blob
black
openpyxl
dnspython
sendgrid
certifi

# ann/eo requirements
python-magic
numpy
pandas
git+https://github.com/safeh2o/swot-python-analysis@master
beautifulsoup4
git+https://github.com/safeh2o/swot_eo_python_analysis@master

